.card {
  cursor: pointer;
  a {
    text-decoration: none;
    &:focus {
      outline: #4CAF50 solid 10px;
    }
  }
}

.mat-card-content {
  &:focus {
    outline: transparent solid 10px;
  }
  &:hover {
    // background: lighten(#000, 90%)
    opacity: 0.7;
  }
}
